@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.FontMain{
  font-family: 'Roboto', sans-serif;
}

.FontSecond{
  font-family: 'IBM Plex Mono', monospace;
}

@media only screen and (min-width: 360px){
  .FlowText{
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px){
  .FlowText{
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px){
  .FlowText{
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px){
  .FlowText{
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px){
  .FlowText{
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px){
  .FlowText{
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px){
  .FlowText{
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px){
  .FlowText{
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px){
  .FlowText{
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px){
  .FlowText{
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px){
  .FlowText{
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px){
  .FlowText{
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px){
  .FlowText{
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px){
  .FlowText{
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px){
  .FlowText{
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px){
  .FlowText{
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px){
  .FlowText{
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px){
  .FlowText{
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px){
  .FlowText{
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px){
  .FlowText{
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px){
  .FlowText{
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px){
  .FlowText{
    font-size: 1.2rem;
  }
}
