.BackgroundWhite{
  background-color: white;
}

.BackgroundBlack{
  background-color: black;
}

.BackgroundGrey{
  background-color: gray;
}

.BackgroundYellow{
  background-color: yellow;
}

.BackgroundOrange{
  background-color: orange;
}

.BackgroundBrown{
  background-color: brown;
}

.BackgroundRed{
  background-color: red;
}

.BackgroundPink{
  background-color: pink;
}

.BackgroundPurple{
  background-color: purple;
}

.BackgroundBlue{
  background-color: blue;
}

.BackgroundGreen{
  background-color: green;
}
