.BackgroundPistachio{
  background-color: #93C572;
}

.BackgroundPear{
  background-color: #D1E231;
}

.BackgroundEmerald{
  background-color: #50C878;
}

.BackgroundJade{
  background-color: #00A86B;
}

.BackgroundTyroliteBlue-green{
  background-color: #00A499;
}

.BackgroundBestGreen{
  background-color: #71C562;
}

.BackgroundSpringBud{
  background-color: #A7FC00;
}

.BackgroundPaleMint{
  background-color: #9ADBBA;
}

.BackgroundFrenchLime{
  background-color: #9EFD38;
}

.BackgroundDeepEmerald{
  background-color: #1B7931;
}

.BackgroundMantis{
  background-color: #74C365;
}

.BackgroundMatteLime{
  background-color: #75AD50;
}
