.BackgroundLuckyOrange{
  background-color: #FF9B49;
}

.BackgroundOrangePeel{
  background-color: #FA7A35;
}

.BackgroundPumpkin{
  background-color: #FF7518;
}

.BackgroundTangerine{
  background-color: #FA9336;
}

.BackgroundIndianSaffron{
  background-color: #FF7722;
}

.BackgroundPersimmon{
  background-color: #EC5800;
}

.BackgroundDeepSaffron{
  background-color: #FF9933;
}

.BackgroundCarrotOrange{
  background-color: #ED9121;
}

.BackgroundAtomicTangerine{
  background-color: #FF9966;
}

.BackgroundSaffron{
  background-color: #F4C430;
}

.BackgroundVividTangerine{
  background-color: #FF801A;
}

.BackgroundFire{
  background-color: #FBB741;
}
