.BackgroundBrightPink{
  background-color: #FF007F;
}

.BackgroundBarbiePink{
  background-color: #DA1884;
}

.BackgroundHotPink{
  background-color: #FF69B4;
}

.BackgroundPinkLace{
  background-color: #FFDDF4;
}

.BackgroundTulip{
  background-color: #FF878D;
}

.BackgroundQueenPink{
  background-color: #E8CCD7;
}

.BackgroundMexicanPink{
  background-color: #E4007C;
}

.BackgroundPersianPink{
  background-color: #F77FBE;
}

.BackgroundRhodamineRed{
  background-color: #E44C9A;
}

.BackgroundWildWatermelon{
  background-color: #FC6C85;
}

.BackgroundThulian{
  background-color: #DE6FA1;
}

.BackgroundLightHotPink{
  background-color: #FFB3DE;
}
