.BackgroundRebeccaPurple{
  background-color: #663399;
}

.BackgroundEminencek{
  background-color: #6C3082;
}

.BackgroundFandango{
  background-color: #B53389;
}

.BackgroundVeronica{
  background-color: #A020F0;
}

.BackgroundPlum{
  background-color: #8E3179;
}

.BackgroundAmethyst{
  background-color: #9966CC;
}

.BackgroundRoyalPurple{
  background-color: #7851A9;
}

.BackgroundMauveine{
  background-color: #8D029B;
}

.BackgroundPatriarch{
  background-color: #800080;
}

.BackgroundRoyalLilac{
  background-color: #774D8E;
}

.BackgroundFloralLavender{
  background-color: #B57EDC;
}

.BackgroundLilac{
  background-color: #DCD0FF;
}
