.BackgroundRougeRed{
  background-color: #E24666;
}

.BackgroundEasterRed{
  background-color: #C92519;
}

.BackgroundSpringRed{
  background-color: #BE1F35;
}

.BackgroundArabianRed{
  background-color: #A30B2E;
}

.BackgroundFashionRed{
  background-color: #D4181D;
}

.BackgroundRioRed{
  background-color: #8A2232;
}

.BackgroundCardinal{
  background-color: #C41E3A;
}

.BackgroundLust{
  background-color: #E62020;
}

.BackgroundTemptation{
  background-color: #B82650;
}

.BackgroundDarkTulip{
  background-color: #D24B66;
}

.BackgroundRoyalMaroon{
  background-color: #670E10;
}

.BackgroundVermillion{
  background-color: #E34234;
}
