.BackgroundBlueberry{
  background-color: #4F86F7;
}

.BackgroundNavy{
  background-color: #000080;
}

.BackgroundAzure{
  background-color: #0080FF;
}

.BackgroundUltramarine{
  background-color: #2142AB;
}

.BackgroundRoyalAzure{
  background-color: #1866E1;
}

.BackgroundRegimental{
  background-color: #32127A;
}

.BackgroundSapphire{
  background-color: #0F52BA;
}

.BackgroundAtlantic{
  background-color: #155370;
}

.BackgroundHanPurple{
  background-color: #5218FA;
}

.BackgroundFrenchUltramarine{
  background-color: #2522CA;
}

.BackgroundFadedNavy{
  background-color: #242F78;
}

.BackgroundDenim{
  background-color: #1560BD;
}
