.BackgroundPastelGrey{
  background-color: #CCCCC4;
}

.BackgroundAntiqueSteel{
  background-color: #B1B6B7;
}

.BackgroundSlateGray{
  background-color: #708090;
}

.BackgroundNeutralGrey{
  background-color: #828382;
}

.BackgroundAshGray{
  background-color: #B2BEB5;
}

.BackgroundSoftGray{
  background-color: #BBBDBD;
}

.BackgroundVintageGray{
  background-color: #989692;
}

.BackgroundGentleGray{
  background-color: #DADADA;
}

.BackgroundMediumGray{
  background-color: #71716F;
}

.BackgroundSkyGray{
  background-color: #BCC8C6;
}

.BackgroundGrayQuill{
  background-color: #7B797B;
}

.BackgroundStoneGrey{
  background-color: #918E85;
}
