.BackgroundRadioactive{
  background-color: #FAE500;
}

.BackgroundCream{
  background-color: #FFFDD0;
}

.BackgroundGold{
  background-color: #FFD700;
}

.BackgroundSunglow{
  background-color: #FFCC33;
}

.BackgroundMustard{
  background-color: #FFDB58;
}

.BackgroundTumeric{
  background-color: #F0CA28;
}

.BackgroundLaserLemon{
  background-color: #FFFF66;
}

.BackgroundGlossyGold{
  background-color: #FAE481;
}

.BackgroundLightGoldenrod{
  background-color: #FFEC8B;
}

.BackgroundRoyalGold{
  background-color: #F5BD02;
}

.BackgroundGoldenPoppy{
  background-color: #FCC200;
}

.BackgroundIlluminating{
  background-color: #F5DF4D;
}
