.BackgroundTealBlue{
  background-color: #367588;
}

.BackgroundPastelTeal{
  background-color: #63B7B7;
}

.BackgroundSpringTeal{
  background-color: #0EA7A5;
}

.BackgroundMatteTeal{
  background-color: #3A7575;
}

.BackgroundTeal{
  background-color: #008080;
}

.BackgroundGlossyTeal{
  background-color: #008F91;
}

.BackgroundAestheticTeal{
  background-color: #0D9494;
}

.BackgroundSoftTeal{
  background-color: #44A9AA;
}

.BackgroundNeonTeal{
  background-color: #00CAB1;
}

.BackgroundFluorescentTeal{
  background-color: #00B0BC;
}

.BackgroundPalesTeal{
  background-color: #7BC2BC;
}

.BackgroundVintageTeal{
  background-color: #3B7577;
}
