.BackgroundWhite{
  background-color: #FFFFFF;
}

.BackgroundSilver{
  background-color: #C0C0C0;
}

.BackgroundGray{
  background-color: #808080;
}

.BackgroundBlack{
  background-color: #000000;
}

.BackgroundRed{
  background-color: #FF0000;
}

.BackgroundMaroon{
  background-color: #800000;
}

.BackgroundYellow{
  background-color:	#FFFF00;
}

.BackgroundOlive{
  background-color: #808000;
}

.BackgroundLime{
  background-color: #00FF00;
}

.BackgroundGreen{
  background-color: #008000;
}

.BackgroundAqua{
  background-color: #00FFFF;
}

.BackgroundTeal{
  background-color: #008080;
}

.BackgroundBlue{
  background-color: #0000FF;
}

.BackgroundNavy{
  background-color: #000080;
}

.BackgroundFuchsia{
  background-color: #FF00FF;
}

.BackgroundPurple{
  background-color: #800080;
}
