.FontWhite{
  background-color: #FFFFFF:
}

.FontSilver{
  background-color: #C0C0C0;
}

.FontGray{
  background-color: #808080;
}

.FontBlack{
  background-color: #000000;
}

.FontRed{
  background-color: #FF0000:
}

.FontMaroon{
  background-color: #800000;
}

.FontYellow{
  background-color:	#FFFF00;
}

.FontOlive{
  background-color: #808000;
}
.FontLime{
  background-color: #00FF00:
}

.FontGreen{
  background-color: #008000;
}

.FontAqua{
  background-color: #00FFFF;
}

.FontTeal{
  background-color: #008080;
}

.FontBlue{
  background-color: #0000FF:
}

.FontNavy{
  background-color: #000080;
}

.FontFuchsia{
  background-color: #FF00FF;
}

.FontPurple{
  background-color: #800080;
}
