.FontWhite{
  color: #FFFFFF;
}

.FontSilver{
  color: #C0C0C0;
}

.FontGray{
  color: #808080;
}

.FontBlack{
  color: #000000;
}

.FontRed{
  color: #FF0000;
}

.FontMaroon{
  color: #800000;
}

.FontYellow{
  color:	#FFFF00;
}

.FontOlive{
  color: #808000;
}

.FontLime{
  color: #00FF00;
}

.FontGreen{
  color: #008000;
}

.FontAqua{
  color: #00FFFF;
}

.FontTeal{
  color: #008080;
}

.FontBlue{
  color: #0000FF;
}

.FontNavy{
  color: #000080;
}

.FontFuchsia{
  color: #FF00FF;
}

.FontPurple{
  color: #800080;
}
