.Hide{
  display: none !important;
}

.LeftAlign{
  text-align: left;
}

.RightAlign{
  text-align: right;
}

.Center, .CenterAlign{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Left{
  float: left !important;
}

.Right{
  float: right !important;
}

.Circle{
  border-radius: 50%;
}

.Rounded{
  border-radius: 20px;
}

.Border{
  border-style: solid;
}
