.BackgroundWhite{
  background-color: white:
}

.BackgroundBlack{
  background-color: black;
}

.BackgroundGrayLight{
 background-color: #646464;
}

.BackgroundGrayDark{
  background-color: #202020;
}

.BackgroundGray{
  background-color: #3B3B3B;
}

.FontWhite{
  color: white;
}

.FontBlack{
  color: black;
}
