.Hide{
  display: none !important;
}

.LeftAlign{
  text-align: left;
}

.RightAlign{
  text-align: right;
}

.Center, .CenterAlign{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Left{
  float: left !important;
}

.Right{
  float: right !important;
}

.Circle{
  border-radius: 50%;
}

.Rounded{
  border-radius: 20px;
}

.Border{
  border-style: solid;
}

.Container{
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px){
  .Container{
    width: 85%;
  }
}

@media only screen and (min-width: 993px){
  .Container{
    width: 70%;
  }
}

.Fix{
  position: fixed;
}

.ContainerElegant{
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.ImageResponsive{
  width: 100%;
}
